pos(argument)
  posT = argument[0]
  topM = argument[1]
  rightM = argument[2]
  bottomM = argument[3]
  leftM = argument[4]
  argumentLength = length(argument)
  
  if argumentLength > 5
    error('pos() too much arguments: pos(position margin-top margin-right margin-bottom margin-left)')
  if argumentLength < 2
    position posT
  else
    if posT == relative
      if topM != null && rightM != null && bottomM != null && leftM != null && topM != rightM && topM != bottomM && topM != leftM
        margin topM rightM bottomM leftM
      if topM == rightM && topM == bottomM && topM == leftM
        margin topM
      if auto in argument && argumentLength < 4
        if topM == auto
          margin 0 auto
        else
          margin topM auto
      else
        if topM != null
          margin-top topM
        if rightM != null
          margin-right rightM
        if bottomM != null
          margin-bottom bottomM
        if leftM != null
          margin-left leftM
      position relative
    
    else
      if topM != null
        top topM
      if rightM != null
        right rightM
      if bottomM != null
        bottom bottomM
      if leftM != null
        left leftM
      position posT
